.camera-section{
width: 100%;
color: #c39765;
font-size: 25px;
margin-top: -550px; 
margin-left: 300px; 

}

.img-camera{
    width: 400px; 
    margin-left:50px;
    height: 400px;
 margin-top: px; 

}

.p-image{
    color: #fefdfd;
    font-size: 15px;
}